{% extends "layout.html" %} {% block header %}
<link
  href="{{url_for('static', filename = 'home.css')}}"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block body %}
<div class="container">
  <div class="create-room">
    <h1>Create Team</h1>
    <form method="post" action="{{url_for('team_room.create_team')}}">
      <!-- <label for="room-name">Name:</label> -->
      <input
        type="text"
        id=""
        name="name"
        placeholder="Pick your name"
        required
      />
      <!-- <label for="room-name">Team Name:</label> -->
      <input
        type="text"
        id="room-name"
        name="team_name"
        placeholder="Give your team name"
        required
      />

      <button type="submit">Create</button>
    </form>
  </div>

  <hr />

  <h1>Join Team</h1>
  <form method="post" action="{{url_for('team_room.join_team')}}">
    <input
      type="text"
      id=""
      name="name"
      placeholder="Pick your name"
      required
    />
    <input
      type="text"
      id="room-code"
      name="team_code"
      placeholder="Enter your team code"
      required
    />
    <button type="submit">Join Team</button>
  </form>
</div>
{% endblock %}
